.Box1
{
    height: 339px;
    width: 443px;
    padding: 30px;
    background: linear-gradient(to right, #ad5389, #3c1053);
    border-radius: 5px;
}
.Box2
{
    border-style: solid;
    border-radius: 63px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(222,168,248,1) 0%, rgba(168,222,248,1) 21.8%, rgba(189,250,205,1) 35.6%, rgba(243,250,189,1) 52.9%, rgba(250,227,189,1) 66.8%, rgba(248,172,172,1) 90%, rgba(254,211,252,1) 99.7% );
    height: 300px;
    width: 400px;
    padding: 20px;
}